.stock-available {
  background-color: green;
  &:hover {
    background-color: blue;
  }
}

.stock-unavailable {
  background-color: grey;
}

table {
  & th {
    padding: 4px;
  }
  & td {
    padding: 4px;
  }
}
